<h2>EDIT THIS ROUTINE</h2>

<form action="/routine/edit?id={{routine.id}}" method="POST">
  <input type="text" name="name" value="{{routine.name}}">
  <input type="text" name="description" value="{{routine.description}}">
  <button type="submit">SUBMIT</button>
</form>