<h2>ADD A NEW ROUTINE</h2>

<form action="/routine/new" method="POST">
  <input type="text" name="name" placeholder="Name"><br>
  <input type="text" name="description" placeholder="Description"><br>
  <button type="submit">SUBMIT</button>
</form>