<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-md-2">
            <ul class="nav flex-column nav-pills">
                <li class="nav-item">
                    <a class="nav-link active" href="/dashboard">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/routine">Routines</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/community">Community</a>
                </li>
            </ul>
        </div>
        <div class="col-md-10">
            <div>
                <h1 class="text-center">Welcome {{user.displayName}}!</h1>
                <p> <strong>Ideas for content:</strong><br><br> Twitter posts from fitness websites<br>
                    maybe blogs are well.
                </p>
            </div>
        </div>
    </div>