<div>
    <h1>Welcome {{user.firstName}}, this is your dashboard!</h1>
    <h1><a href="/routine">MY ROUTINES</a></h1>
</div>

{{#if user}}
<a href="/logout">Logout</a>
{{else}}
<h1><a href="/login"> LOG IN</a></h1>
<h1><a href="/signup"> SIGN UP</a></h1>
{{/if}}