<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-md-2">
            <ul class="nav flex-column nav-pills">
                <li class="nav-item">
                    <a class="nav-link active" href="/dashboard">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/routine">Routines</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/community">Community</a>
                </li>
            </ul>
        </div>
        <div class="col-md-10">
            <div>
                <h1 class="text-center">Welcome {{user.displayName}}!</h1>

                Quote of the day:<div id="the-api"></div>



                </p>
            </div>
        </div>
    </div>

    <script>
        axios.get("http://quotes.rest/qod.json?category=inspire").then(res => {
            console.log(res.data.contents.quotes[0].quote)
            document.getElementById("the-api").innerHTML = `<div class="blockquote"><p>${res.data.contents.quotes[0].quote}</p></div>`
        })

    </script>