<header>
  <div class="overlay"></div>
  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="https://app.coverr.co/s3/mp4/Squat-it.mp4" type="video/mp4">
  </video>
  <div class="container h-100">
    <div class="d-flex h-100 text-center align-items-center">
      <div class="w-100 text-white">
        <h1 class="display-3">Workout Log</h1>
        <p class="lead mb-0">The ultimate and simple way to track your workouts.</p><br>
        <a class="btn btn-primary" href="/dashboard">START TRACKING</a>
      </div>
    </div>
  </div>
</header>

<section class="text-center my-5">
  <div class="container">

    <!-- Section heading -->
    <h2 class="h1-responsive font-weight-bold my-5">Why is it so great?</h2>
    <!-- Section description -->
    <p class="lead grey-text w-responsive mx-auto mb-5">Track and get motivation in the largest fitness community!
    </p>

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-4">

        <i class="far fa-sticky-note fa-3x red-text"></i>
        <h5 class="font-weight-bold my-4">Log your workout</h5>
        <p class="grey-text mb-md-0 mb-5">Keep track of your routines and workouts. You can reference
          them at any time!
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4">

        <i class="fas fa-user fa-3x cyan-text"></i>
        <h5 class="font-weight-bold my-4">Profile</h5>
        <p class="grey-text mb-md-0 mb-5">Create and personalize your own profile and prescence
          in the community!
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4">

        <i class="fab fa-slideshare fa-3x orange-text"></i>
        <h5 class="font-weight-bold my-4">Community</h5>
        <p class="grey-text mb-0">Join the fastest growing community in the fitness industry!
          Share your routines with other users and get inspired!
        </p>

      </div>
      <!-- Grid column -->

    </div>
  </div>
  <!-- Grid row -->
</section>


<section class="testimonial-section2">
  <div class="container">
    <div class="row text-center">
      <div class="col-12">
        <div class="h2">Testimonial</div>
      </div>
    </div>
  </div>
  <div id="testim" class="testim">

    <!--         <div class="testim-cover"> -->
    <div class="wrap">

      <span id="right-arrow" class="arrow right fa fa-chevron-right"></span>
      <span id="left-arrow" class="arrow left fa fa-chevron-left "></span>
      <ul id="testim-dots" class="dots">
        <li class="dot active"></li>
        <!--
                    -->
        <li class="dot"></li>
        <!--
                    -->
        <li class="dot"></li>
        <!--
                    -->
        <li class="dot"></li>
        <!--
                    -->
        <li class="dot"></li>
      </ul>
      <div id="testim-content" class="cont">
        <div class="active">
          <div class="img"><img src="https://randomuser.me/api/portraits/men/3.jpg" alt=""></div>
          <div class="h4">Jake</div>
          <p>Started using this app for a while and I am really happy with it! My fitness journey
            has had its up and downs but I keep it very consistent thanks to this!
          </p>
        </div>

        <div class='active'>
          <div class="img"><img src="https://randomuser.me/api/portraits/women/84.jpg" alt=""></div>
          <div class="h4">Jessica</div>
          <p>My friends told me about this website and ever since... I can't stop using it! I track
            almost every workout and routine with this app! I LOVE IT!!
          </p>
        </div>

        <div>
          <div class="img"><img src="https://randomuser.me/api/portraits/men/94.jpg" alt=""></div>
          <div class="h4">Ricky</div>
          <p>I have been looking for a workout log that is easy to navigate! Most of the other ones
            have way too many complicated features! I love the simplicity of this!!
          </p>
        </div>

        <div>
          <div class="img"><img src="https://randomuser.me/api/portraits/women/32.jpg" alt=""></div>
          <div class="h4">Samantha</div>
          <p>It’s a phenomenal resource as well as community for those who have just begun the their fitness journey as
            well as those that are seasoned vets!</p>
        </div>

        <div>
          <div class="img"><img src="https://randomuser.me/api/portraits/men/25.jpg" alt=""></div>
          <div class="h4">Nick</div>
          <p>This is an amazing website where I can track my workouts and check out for any new
            routines! I stay motivated and have held myself accountable because of this app! Amazing!
          </p>
        </div>

      </div>
    </div>
  </div>
  <!--         </div> -->
</section>

<script src="https://use.fontawesome.com/1744f3f671.js"></script>