<div class="container-fluid mt-3">
  <div class="row">
    <div class="col-md-2 mb-5">
      <ul class="nav flex-column nav-pills">
        <li class="nav-item">
          <a class="nav-link" href="/dashboard">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/routine">Routines</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/community">Community</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/weightCalculator">Weight Loss Calculator</a>
        </li>
      </ul>
    </div>
    <div class="col-md-10">
      <div>
        <h1 class="text-center text-primary"> Weight Loss Calculator</h1>
      </div>
      <!-- Calculators.tech Widget -->
      <div id="ppsWidgetCode" data-calculator-slug="weight-loss-calculator"
        data-calculator-keyword="Weight Loss Calculator" data-config=""></div>
    </div>
  </div>
</div>
</div>



<!--- Calculator -->
<script type="text/javascript" src="/javascripts/weightCalculator.js"></script>